.favorites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
}
.selectors {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender {
  font-size: small;
  text-align: center;
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.732);
  color: whitesmoke;
}
.order {
  font-size: small;
  text-align: center;
  width: 100px;
  height: 30px;
  margin: 10px;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.732);
  color: whitesmoke;
}
